<div>
  <h2 class="auth-title mt-10">Resend confirmation link</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "mt-10" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "label mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions",  class: "btn-primary w-full" %>
    </div>
  <% end %>

  <p class="auth-link-text mt-2">Remember Password? <%= link_to "Sign In", new_user_session_path, class: "auth-link" %>  </p>


  <%#= render "devise/shared/links" %>

</div>