<div>

  <h2 class="auth-title mt-10">Get Insignia Account</h2>

  <div class="max-w-[327px] w-full mt-2 space-y-4">
    <p class="auth-subtitle">Get started with creating professional ID cards for your team.</p>
    <p class="auth-link-text">Already have an account? <%= link_to "Sign in", new_user_session_path, class: "auth-link" %>  </p>

  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-10"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= render "devise/shared/notice_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "label mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "label mb-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      <% if @minimum_password_length %>
       <p class="text-xs text-gray-50"> <em>(<%= @minimum_password_length %> characters minimum)</em></p>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn-primary w-full mt-10" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>

</div>