<div>
  <h2 class="auth-title mt-10">Reset Your Password</h2>

  <div class="max-w-[327px] w-full mt-2 space-y-4">
    <p class="auth-subtitle">We’ll send you a link to your email for creating a new password and regain access to your account.</p>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-10" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-2">
      <%= f.label :email, class: "label mb-2"%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Send reset link", class: "btn-primary w-full mt-10" %>
    </div>
  <% end %>

  <p class="auth-link-text mt-2">Remember Password? <%= link_to "Sign In", new_user_session_path, class: "auth-link" %>  </p>

  <%#= render "devise/shared/links" %>

</div>