<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Insignia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link href="/app/assets/stylesheets/application.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gray-50 relative  flex">
  <%= render "shared/notifications", resource: (defined?(resource) ? resource : nil) %>
  <main class="flex flex-col md:flex-row flex-1">

    <!-- Left Section (Form / Auth Content) -->
    <section class="auth-bg flex-1 flex items-center justify-center md:justify-end md:pr-[150px] bg-white bg-cover bg-top-left">


      <div class="auth-subpage-wrapper bg-bg-primary rounded-4xl p-8 shadow-lg">
        <div class="header flex flex-col justify-center items-center">
          <%= image_tag "logo.svg" %>



        </div>
      <main>
        <%= yield %>
      </main>
      </div>
    </section>

    <!-- Right Section (Imagery / Branding) -->
    <aside class="hidden md:hidden flex-1 items-center justify-center bg-gradient-to-br from-green-200 to-lime-600 text-white">
      <div class="text-center px-10">
        <h2 class="text-4xl font-semibold mb-4">Welcome to Insignia</h2>
        <p class="text-md opacity-90">Create your digital presence and connect seamlessly.</p>
      </div>
    </aside>
  </main>
  </body>
</html>
